@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.55 0.15 159.36);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.92 0.01 159.36);
  --secondary-foreground: oklch(0.25 0 0);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.55 0 0);
  --accent: oklch(0.92 0.01 159.36);
  --accent-foreground: oklch(0.25 0 0);
  --destructive: oklch(0.6 0.2 25.72);
  --destructive-foreground: oklch(0.97 0 0);
  --border: oklch(0.89 0 0);
  --input: oklch(0.89 0 0);
  --ring: oklch(0.55 0.15 159.36);
  --radius: 0.5rem;
  --chart-1: oklch(0.55 0.15 159.36);
  --chart-2: oklch(0.46 0.13 159.36);
  --chart-3: oklch(0.37 0.11 159.36);
  --chart-4: oklch(0.28 0.09 159.36);
  --chart-5: oklch(0.19 0.07 159.36);
}

.dark {
  --background: oklch(0.2267 0 0);
  --foreground: oklch(0.9619 0 0);
  --card: oklch(0.2591 0 0);
  --card-foreground: oklch(0.9619 0 0);
  --popover: oklch(0.2044 0 0);
  --popover-foreground: oklch(0.9619 0 0);
  --primary: oklch(0.7629 0.1537 159.36);
  --primary-foreground: oklch(0.9911 0.0123 167.47);
  --secondary: oklch(0.2741 0.0055 286.03);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.3008 0 0);
  --muted-foreground: oklch(0.7119 0.0129 286.07);
  --accent: oklch(0.2685 0.0063 34.3);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.72);
  --destructive-foreground: oklch(0.971 0.0127 17.38);
  --border: oklch(0.3008 0 0);
  --input: oklch(0.3008 0 0);
  --ring: oklch(0.6154 0.1157 159.63);
  --chart-1: oklch(0.7629 0.1537 159.36);
  --chart-2: oklch(0.67 0.14 159.36);
  --chart-3: oklch(0.58 0.12 159.36);
  --chart-4: oklch(0.49 0.1 159.36);
  --chart-5: oklch(0.4 0.08 159.36);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}